{% extends "base.html" %}

{% block content %}
<div class="container py-5">
  <h2 class="fw-bold mb-4">Workout Records</h2>
  <div class="p-4">
    <table id="workout-table" class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Duration</th>
                <th>Calories</th>
                <th>Notes</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
  </div>
  <div class="card shadow-sm p-4">
    <div class="row mb-4">
      <div class="col-md-3">
        <label class="form-label fw-semibold">Date</label>
        <input id="workout-form-date" type="date" class="form-control" required>
      </div>
      <div class="col-md-2">
        <label class="form-label fw-semibold">Duration (minutes)</label>
        <input id="workout-form-duration" type="number" class="form-control" min="0" required>
      </div>
      <div class="col-md-2">
        <label class="form-label fw-semibold">Calories Burned</label>
        <input id="workout-form-calories" type="number" class="form-control" name="calories" min="0" step="1">
      </div>
    </div>
    <div class="mb-4">
      <label class="form-label fw-semibold">Workout Notes</label>
      <textarea id="workout-form-notes" class="form-control" rows="3" placeholder="How did you feel?"></textarea>
    </div>

    <div class="text-end">
      <button id="workout-add" class="btn btn-success px-4">Add</button>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="module">
import { jsonApiGet, jsonApiPost } from "/static/js/util.js";
$(function() {
    function binarySearch(array, target) {
        let low = 0;
        let high = array.length - 1;

        while (low <= high) {
            const mid = Math.floor((low + high)/2);
            const guess = array[mid];

            if (guess === target) {
                return mid;
            } else if (guess < target) {
                low = mid + 1;
            } else {
                high = mid - 1;
            }
        }

        return -(low + 1);
    }

    function insertRow($table, records, dates, id, item) {
        const $row = $(`<tr>
          <td>${item.date}</td>
          <td>${item.duration} min</td>
          <td>${item.calories} cal</td>
          <td><div class="col-20 text-truncate">${item.notes}</div></td>
          <td>
            <button onclick="shareWorkout(${item.id})" class="btn btn-outline-success btn-sm">Share</button>
            <button class="btn btn-secondary btn-sm""><i class="bi bi-trash"></i></button>
            </td>
          </tr>`);

        const date = new Date(item.date);
        var idx = binarySearch(dates, date);
        if (idx < 0)
            idx = -idx - 1;

        dates.splice(idx, 0, date);
        records.splice(idx, 0, item);
        if (idx == 0)
            $table.prepend($row);
        else
            $table.find(`> tr:nth-child(${idx})`).after($row);

        $row.find(".btn-secondary").on("click", function() {
            jsonApiPost("/api/workout/record/delete", { ids: [id] }).done(function(data) {
                if (data.succeed)
                    $row.remove();
            });
        }
    }


    const dates = [];
    const records = [];
    const $table = $("#workout-table > tbody");

    jsonApiGet("/api/workout/record/query").done(function(data) {
        if (data.succeed) {
            $.each(data.result, function(idx, record) {
                insertRow($table, records, dates, record.id, record);
            });
        }
    });

    $("#workout-add").on("click", function() {
        const item = {
            date: $("#workout-form-date").val(),
            duration: $("#workout-form-duration").val(),
            calories: $("#workout-form-calories").val(),
            notes: $("#workout-form-notes").val(),
        };

        jsonApiPost("/api/workout/record/insert", item).done(function(data) {
            if (data.succeed)
                insertRow($table, records, dates, data.ids[0], item);
        });
    });
});

function shareWorkout(record_id) {
    const toUser = prompt("Enter the username to share with:");
    if (!toUser) return;

    $.ajax({
        type: "POST",
        url: "/api/workout/record/share",
        contentType: "application/json",
        data: JSON.stringify({ to_username: toUser, record_id: record_id }),
        success: function (res) {
            if (res.succeed) alert("Shared successfully!");
            else alert("Failed: " + res.error);
        }
    });
}
</script>
{% endblock %}
